@import "tailwindcss";

@theme {
  --color-azul: #1b1bae; /* Principal */
  --color-azul-claro: #e6ebff; /* Fondos claros */
  --color-azul-oscuro: #121259; /* Texto en fondos claros */
  --color-azul-vibrante: #4c4cff; /* Resaltados */
}
